[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
pandas = "*"
lxml = "*"
typing = "*"
html5lib = "*"
bs4 = "*"
numpy = "*"
pylint = "*"
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.7"
