[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
pandas = "*"
lxml = "*"
typing = "*"
html5lib = "*"
bs4 = "*"
numpy = "*"
autopep8 = "*"
isort = "*"
pep8 = "*"
pycodestyle = "*"

[requires]
python_version = "3.7"
